on:
    push:
        tags:
            - "*"

name: Publish Extension
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - run: npm ci
            - name: Publish to OpenVSX
              uses: HaaLeo/publish-vscode-extension@v0
              with:
                  pat: ${{ secrets.OPEN_VSX_TOKEN }}
            - name: Publish to VS Marketplace
              uses: HaaLeo/publish-vscode-extension@v0
              with:
                  pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
                  registryUrl: https://marketplace.visualstudio.com
